<h1> Album Photo </h1>

<div class="photo">
    {{#if photo}}
        {{#each photo}}
            <div class="reglage">
                <a href="/album/{{this.VIP_NUMERO}}"><img src="/images/vip/{{this.PHOTO_ADRESSE}}"/></a> </br>
            </div>
        {{/each}}
    {{/if}}
    <div class="bord">
        {{#ifCond debutAlbumPhoto '!=' 0}}
            <a href="/album/debut">
                <button type="button">Début</button>
            </a>

            <a href="/album/precedent">
                <button id="precedent">Précédent</button>
            </a>
        {{/ifCond}}

        {{#ifCond this.debutAlbumPhoto '!=' "fin" }}
            <a href="/album/suivant">
                <button id="suivant">Suivant</button>
            </a>

            <a href="/album/fin">
                <button id="fin">Fin</button>
            </a>
        {{/ifCond}}
    </div>
</div>

<div class="photo2">
    {{#if photoVIP}}

        <!-- S'il y a qu'une photo -->
        {{#ifCond nbPhoto.0.nb "==" '1'}}
            <div class="nom">
                <b>{{photoVIP.VIP_PRENOM}} {{photoVIP.VIP_NOM}}</b>
            </div>
            </br></br>
            <img src="/images/vip/{{photoVIP.PHOTO_ADRESSE}}"/>
            </br></br>
            <div class="commentaire">
                {{photoVIP.PHOTO_COMMENTAIRE}}
            </div>
        {{/ifCond}}

        <!-- S'il y a plusieurs photos -->
        {{#ifCond nbPhoto.0.nb ">" '1'}}
            <div class="nom">
                <b>{{photoVIP.VIP_PRENOM}} {{photoVIP.VIP_NOM}}</b>
            </div>
            </br></br>
            <img src="/images/vip/{{photoVIP.PHOTO_ADRESSE}}"/>
            </br></br>
            <div class="commentaire">
                {{photoVIP.PHOTO_COMMENTAIRE}}
            </div>
            {{#ifCond photoVIP.PHOTO_NUMERO "==" '1'}}
                </br>
                <div class="boutonACote">
                    <a href="/album/{{photoVIP.VIP_NUMERO}}/{{photoVIP.PHOTO_NUMERO}}"><input type="button" value=">>"
                                                                                              class="suivant"></a>
                </div>
            {{/ifCond}}
            {{#ifCond photoVIP.PHOTO_NUMERO ">" '1'}}
                {{#ifCond photoVIP.PHOTO_NUMERO "<" nbPhoto.0.nb}}
                    </br>
                    <div class="boutonACote">
                        <a href="/album/{{photoVIP.VIP_NUMERO}}/{{photoVIPAv.PHOTO_NUMERO}}"><input type="button"
                                                                                                    value="<<"
                                                                                                    class="precedent"></a>
                        <a href="/album/{{photoVIP.VIP_NUMERO}}/{{photoVIP.PHOTO_NUMERO}}"><input type="button"
                                                                                                  value=">>"
                                                                                                  class="suivant"></a>
                    </div>
                {{/ifCond}}
                {{#ifCond photoVIP.PHOTO_NUMERO "==" nbPhoto.0.nb}}
                    </br>
                    <div class="boutonACote">
                        <a href="/album/{{photoVIP.VIP_NUMERO}}/{{photoVIPAv.PHOTO_NUMERO}}"><input type="button"
                                                                                                    value="<<"
                                                                                                    class="precedent"></a>
                    </div>
                {{/ifCond}}
            {{/ifCond}}
        {{/ifCond}}
    {{/if}}
</div>