<h1> Album Photo </h1>

<div class="photo">
    {{#if photo}}
        {{#each photo}}
            <div class="reglage">
                <a href="/album/{{this.VIP_NUMERO}}"><img src="/images/vip/{{this.PHOTO_ADRESSE}}"/></a> </br>
            </div>
        {{/each}}
    {{/if}}
    <input type="button" value="Suivant" class="suivant">
</div>

<div class="photo2">
    {{#if photoVIP}}
        {{#ifCond nbPhoto.0.nb "==" '1'}}
            {{#each photoVIP}}
                <div class="nom">
                    <b>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</b>
                </div>
                </br></br>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}"/>
                </br></br>
                <div class="commentaire">
                    {{this.PHOTO_COMMENTAIRE}}
                </div>
            {{/each}}
        {{/ifCond}}
    {{/if}}
</div>